:root {
  --galley-font-size: 0.7rem;
}

#galley {
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: var(--black);
}

#galley::-webkit-scrollbar {
  display: none;
}

#galley > div {
  margin: 0rem;
  width: 60%;
  font-size: 1rem;
  line-height: 1.5;
}

#galley > div > h3 {
  font-size: 1.8rem;
  margin: 0rem;
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-feature-settings: "smcp" 1, "c2sc" 1;
}

#galley > div > p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#galley > div > p+p {
  text-indent: 1.2rem;
}