#galley {
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: var(--black);
}

#galley::-webkit-scrollbar {
  display: none;
}

#galley > div {
  white-space: pre-wrap;
  margin: 0 auto;
  width: 60%;
  font-size: 1rem;
  line-height: 1.5;
}

#galley > p+p {
  z-index: 1.2rem;
}